
<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <h1>Restaurants List</h1>
      <% @restaurants.each do |restaurant| %>
          <div>
            <div class="d-flex">
              <h2>
                <%= link_to restaurant.name, restaurant_path(restaurant) %>     
              </h2>
              <p>
                (<%= restaurant.category.capitalize %>)              
              </p>
            </div>
            <p><%= restaurant.address %></p>
            <% sum_rating = 0 %>
            <% count_reviews = 0 %>
            <% restaurant.reviews.each do |review| %>
              <% sum_rating += review.rating %>
              <% count_reviews += 1 %>
            <% end %>
            <% if count_reviews == 0 %>
              <% avg_rating = "-" %>
            <% else %>
              <% avg_rating = sum_rating / count_reviews %>
            <% end %>
            <p>Average rating: <%= avg_rating %> / 5</p>
          </div>
      <% end %>
    </div>
  </div>
</div>
  
